Button {
    -fx-font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -fx-font-size: 20px;
    -fx-padding: 6px 12px;
    -fx-margin: 10px 0px;
    -fx-background-color: #00947e;
    -fx-text-fill: #fff;
    -fx-border: 0;
    -fx-cursor: hand;
    -fx-pref-height: 50px;
    -fx-pref-width: 250px;
}

Button:hover {
    -fx-background-color: #00aa98;
}

#pane{
    -fx-background-image: url("dragon.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

